*{ 
    box-sizing: border-box;
}

body {
    background-image: url("https://multarte.com.br/wp-content/uploads/2019/02/fundo-quadriculado-azul4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:rgb(7, 169, 218);
    font-weight: bold;
    text-align: center;
}

button{
    background-color:white;
}

h1{
    font-size: 100px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive; 
}

#root{
    background-color: black;
    width: 400px;
    padding: 20px 15px;
    margin: auto;
}

p{
    margin: 10px;
}
.espacoBotoes{
    margin-top: 15px;
}